{# User List - Header #}

<div class="content-panel-header">
    <div class="filter-item no-m">
        <span class="form-label">
            {% trans %}Sort by:{% endtrans %}
        </span>
        <div class="filter button dropdown" data-dropdown="filter-sort">
            {% if tab_id == 'name' %}
                {% trans %}name{% endtrans %}
            {% endif %}

            {% if tab_id == 'used' %}
                {% trans %}popularity{% endtrans %}
            {% endif %}
        </div>
        <ul id="filter-sort" class="content-panel-dropdown f-dropdown" data-dropdown-content aria-hidden="true">
            {% if tab_id != 'name' %}
                <li>
                    <a id="sort_name" href="{% url tags %}?sort=name" title="{% trans %}sorted alphabetically{% endtrans %}">
                        {% trans %}by name{% endtrans %}
                    </a>
                </li>
            {% endif %}

            {% if tab_id != 'used' %}
                <li>
                    <a id="sort_used" href="{% url tags %}?sort=used" title="{% trans %}sorted by frequency of tag use{% endtrans %}">
                        {% trans %}by popularity{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
