{% from "macros.html" import render_gravatar %}

<div class="row">
    <div class="small-12 columns">
        <div class="content-panel-wrapper">

            <div class="content-panel-control content-inline">
                <h2 class="title left">
                    {% trans %}Users{% endtrans %}
                </h2>
            </div>

            <div class="content-panel">
                {% include "user_list/header.html" %}
                <div class="content-panel-content">
                    {% include "user_list/content.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
