{% import "macros.html" as macros %}
{% extends 'one_column_body.html' %}

{% block title %}{% trans %}Organizations{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <li><span>{% trans %}Organizations{% endtrans %}</span></li>
{% endblock %}

{% block forestyle %}
    {{ super() }}
    <style type="text/css">
        .lh-50 {
            line-height: 50px
        }
    </style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="small-12 columns">
        <div class="content-panel-wrapper">

            <div class="content-panel-control content-inline">
                <h2 class="title left">
                    {% trans %}Organizations{% endtrans %}
                </h2>
                <div class="control-area right">
                    {% if request.user.is_admin('openode.add_organization') %}
                    <a href="{% url admin:openode_organization_add %}" class="control-link">
                        <i class="control-link-icon icon icon-plus round"></i>
                        <span class="control-link-content">
                            {% trans %}Add new organization{% endtrans %}
                        </span>
                    </a>
                    {% endif %}
                    <a href="{% url ask_to_create_org %}" class="control-link">
                        <i class="control-link-icon icon icon-list round"></i>
                        <span class="control-link-content">
                            {% trans %}Request a new organization to be created{% endtrans %}
                        </span>
                    </a>
                </div>
            </div>

            <div class="content-panel">
                {% include "organization_list/header.html" %}
                <div class="content-panel-content">
                    {% include "organization_list/content.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
