{% extends "one_column_body.html" %}
{% from "macros.html" import tag_cloud, tag_list %}

{% block title %}{% spaceless %}{% trans %}Tags{% endtrans %}{% endspaceless %}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <div class="content-panel-wrapper">

                <div class="content-panel-control content-inline">
                    <h2 class="title left">
                        {% if page_title %}
                                {{ page_title }}
                        {% else %}
                            {% if stag %}
                                {% trans %}Tags, matching "{{ stag }}"{% endtrans %}
                            {% else %}
                                {% trans %}Tags{% endtrans %}
                            {% endif %}
                        {% endif %}
                    </h2>
                </div>

                <div class="content-panel">
                    {% include "tags/header.html" %}
                    <div class="content-panel-content">
                        {% include "tags/content.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
